
<ion-header>

  <ion-navbar>
    <ion-title>Torneo: {{torneo.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    
    <button ion-item>
      Deporte: {{torneo.deporte}}
    </button>  
    
    <button ion-item>
            Descripcion: {{torneo.descripcion}}
      </button> 

      <button ion-item>
        Genero: {{torneo.nombreGenero}}
  </button> 

    <ion-item *ngIf="reglamento == 1">
      Reglamento: <button (click)='verPdf(torneo.reglamento)' ion-button>ver</button>
    </ion-item>

    <ion-item *ngIf="torneo.latitud != 'null'">
        Ubicacion :  <button (click)='ubicacion(torneo.latitud, torneo.longitud)'  ion-button>ver</button>
      </ion-item>

    <ion-item *ngIf="torneo.individual ==1" >
      Equipos inscritos: <button (click)='verInscritos()'  ion-button>ver</button>
    </ion-item>  

    <ion-item  *ngIf="torneo.individual ==0">
        Participantes inscritos: <button (click)='verInscritos1()'  ion-button>ver</button>
      </ion-item>  

    <ion-item  >
       Arbitos: <button (click)='verJurado(torneo.idTorneo)'  ion-button>ver</button>
      </ion-item>  

    <button ion-item>
      Fecha de Inicio: {{torneo.fechaInicio}}
    </button>  

    <button *ngIf="idVer == 0" (click)="unirse()" ion-button>Unirse</button>
    <button (click)="salir()" ion-button color="danger">Atras</button>

   <!--  <button ion-item>
      Latitud: {{toneo.latitud}}
    </button>  

    <button ion-item>
      Longitud: {{toneo.longitud}}
    </button>  --> 
  </ion-list>
</ion-content>
