
<ion-header>

  <ion-navbar>
    <ion-title>Gestionar Torneos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  
    <form [formGroup]="form">
        <ion-item>
            <ion-label>Deporte</ion-label>
            <ion-select formControlName="idDeporte">
              <ion-option value="0">Todos</ion-option>
              <ion-option *ngFor="let deporte of deportes" value="{{deporte.idDeporte}}">{{deporte.nombre}}</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select formControlName="genero" >
              <ion-option value="3">Todos</ion-option>
              <ion-option value="0">Masculino</ion-option>
              <ion-option value="1">Femenino</ion-option>
              <ion-option value="2">Mixto</ion-option>
              
            </ion-select>
          </ion-item>
  
          <ion-item>
              <ion-label>Tipo</ion-label>
              <ion-select formControlName="tipo" >
                <ion-option value="2">Todos</ion-option>
                <ion-option value="0">Individual</ion-option>
                <ion-option value="1">PorEquipos</ion-option>
                
              </ion-select>
            </ion-item>
    
          <button (click)="buscar()" ion-button>Buscar</button>
    
        </form>
  
  
        <h2 *ngIf="aviso == 1" class="centrado">No hay torneos</h2>
  
    <ion-card class="fondo" *ngFor="let torneo of torneos; index as i" >
      <ion-item class="tituloEvento" (click)= 'ver(torneo.idTorneo)'>
        <h2><i class="fas fa-cube margenSup"></i> {{torneo.nombre}}</h2>
        <div item-end><ion-icon name="calendar"></ion-icon> {{ torneo.fechaInicio  |date}}</div>
      </ion-item>
  
      <ion-card-content class="contenidoEvento">
  
        <ion-item class="fondoNone">
          <h2>{{torneo.descripcion}}</h2>
        </ion-item>
        <button (click)="editar(torneo.idTorneo)" ion-button>Editar</button>
        <button (click)="showAlert(torneo.idTorneo, i)" ion-button color="danger" outline>Eliminar</button>
      </ion-card-content>
    </ion-card>
  </ion-content>