<!--
  Generated template for the RecuperarContraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>recuperar-contraseña</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="assets/imgs/parchemos.png" />
    <ion-list *ngIf="paso1==0">
        <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="err==1">
            <br>
            <h2 style="color: red">Este correo no esta registrado </h2>
        </ion-item>
    </ion-list>
    <form [formGroup]="form" *ngIf="paso1==1">
        <ion-list>
            <ion-item>
                <ion-label floating>Correo</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Codigo</ion-label>
                <ion-input formControlName="pass" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="error==1">
                <br>
                <h2 style="color: red">El codigo es incorrecto</h2>
            </ion-item>
            <ion-item *ngIf="paso1==1">
                <br>
                <h2 style="color: green"> Escriba el codigo de validacion <br> enviado a su correo electronico</h2>
            </ion-item>
        </ion-list>
    </form>

    <form [formGroup]="form" *ngIf="paso1==2">
        <ion-list>
            <ion-item>
                <ion-label floating>Correo</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nueva contraseña</ion-label>
                <ion-input formControlName="pass" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <br>
                <h2 style="color: green"> Escriba una nueva contraseña</h2>
            </ion-item>
        </ion-list>
    </form>

    <button ion-button (click)="recuperar()" round full *ngIf="paso1==0">Recuperar</button>
    <button ion-button (click)="validar()" round full *ngIf="paso1==1">Validar</button>
    <button ion-button (click)="cambiar()" round full *ngIf="paso1==2">Cambiar Contraseña</button>


</ion-content>