<!--
  Generated template for the RendimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calcular Rendimiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="form">
      <ion-item>
        <ion-label class="descripcion">
          <b>
            Los siguentes parametros son justo despues de terminar el test
        </b>
      </ion-label>
      </ion-item>
        <ion-item>
            <ion-label floating>Tiempo (min) </ion-label>
            <ion-input formControlName="minutos" type="number"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Tiempo (seg)</ion-label>
              <ion-input formControlName="segundos" type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Ritmo Cardiaco (lat/min) </ion-label>
                <ion-input formControlName="ritmo" type="number"></ion-input>
              </ion-item>
    
          <button (click)="calcular()" *ngIf="form.valid" ion-button full>Calcular</button>
          <button (click)="calcular()" *ngIf="form.invalid" ion-button full disabled>Calcular</button>
    
        </form>
    <h2 *ngIf="aviso == 1" class="centrado">Por favor edita en tu perfil los campos peso y estatura</h2>

    <ion-item class="centrado" *ngIf="resultado==1">
      Rendimiento : <b>{{rendimiento |number}}</b>
    </ion-item>

    <ion-grid class="centrado" *ngIf="resultado==1">
        <ion-row>

            <ion-col col-9 push-3 >
                <div><b>Clasificacion de aptitud fisica</b></div>
              </ion-col>
              <ion-col col-3 pull-9>
                <div><b>rendimiento</b></div>
              </ion-col>
          </ion-row>
        <ion-row [ngClass]="{negrita: rendimiento <= 23}">
          <ion-col col-9 push-3>
            <div>Considerablemente menor que el promedio</div>
          </ion-col>
          <ion-col col-3 pull-9>
            <div>&#60; 23</div>
          </ion-col>
        </ion-row>

        <ion-row [ngClass]="{negrita: rendimiento > 24 && rendimiento <=29}">

          <ion-col col-9 push-3 >
              <div>Un poco abajo del promedio</div>
            </ion-col>
            <ion-col col-3 pull-9>
              <div>24 - 29</div>
            </ion-col>
        </ion-row>
        <ion-row [ngClass]="{negrita: rendimiento > 30 && rendimiento <=36}" >

            <ion-col col-9 push-3 >
                <div>Promedio</div>
              </ion-col>
              <ion-col col-3 pull-9>
                <div>30 - 36</div>
              </ion-col>
          </ion-row>
        <ion-row [ngClass]="{negrita: rendimiento > 37 && rendimiento <=37}">

            <ion-col col-9 push-3 >
                <div>Un poco arriba del promedio</div>
              </ion-col>
              <ion-col col-3 pull-9>
                <div>37 - 44</div>
              </ion-col>
          </ion-row>
        <ion-row [ngClass]="{negrita: rendimiento > 44}">

            <ion-col col-9 push-3 >
                <div >Considerablemente arriba del promedio</div>
              </ion-col>
              <ion-col col-3 pull-9>
                <div>>44</div>
              </ion-col>
          </ion-row>
    </ion-grid>

    <button *ngIf="resultado==1" (click)="guardar()" ion-button full>Guardar</button>
</ion-content>
