<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>perfil</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding *ngIf="edit==true;">
    <form [formGroup]="form">

        <ion-item>
            <ion-label floating>Peso</ion-label>
            <ion-input formControlName="peso" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefono</ion-label>
            <ion-input formControlName="telefono" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Descripcion</ion-label>
            <ion-input formControlName="descripcion" type="text"></ion-input>
        </ion-item>
        <br>
        <ion-item *ngIf="contra==true;">
            <ion-label floating>Nueva contraseña</ion-label>
            <ion-input formControlName="pass2" type="password"></ion-input>
        </ion-item>
        <button ion-button (click)="contra=!contra;" round full>Nueva contraseña</button>
        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="pass" type="password"></ion-input>
        </ion-item>

        <button ion-button (click)="editarUsuario(); edit=!edit;" round full>Guardar cambios</button>
        <br>
    </form>

</ion-content>
<ion-content padding *ngIf="edit==false;">

    <ion-item>
        <ion-label><small> Username : </small> {{usuario.nombre}}</ion-label>

    </ion-item>

    <ion-item>
        <ion-label><small> Email : </small> {{usuario.email}}</ion-label>

    </ion-item>
    <ion-item>
        <ion-label><small> Peso : </small> {{usuario.peso}}</ion-label>

    </ion-item>
    <ion-item>
        <ion-label><small> Telefono : </small> {{usuario.telefono}}</ion-label>

    </ion-item>
    <ion-item>
        <ion-label><small> Descripcion : </small> {{usuario.descripcion}}</ion-label>

    </ion-item>
    <ion-item>
        <ion-label><small> Edad : </small> {{edad}} años.</ion-label>

    </ion-item>
    <button ion-button (click)="edit=!edit;" round full>Editar perfil</button>

</ion-content>