<ion-header>

    <ion-navbar>
        <ion-title>Salidas a participar</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h2 style="color: grey;"><small>Filtrar por:</small>
        <button (click)="busqueda=2;" ion-button outline>Genero</button>
        <button (click)="busqueda=1;" ion-button outline>Deporte</button></h2>
    <ion-item *ngIf="busqueda==1">
        <ion-label>Deporte</ion-label>
        <ion-select [(ngModel)]="idDeporte">
            <ion-option value='0'>Todos</ion-option>
            <ion-option *ngFor="let deporte of deportes" value='{{deporte.idDeporte}}'>{{deporte.nombre}}</ion-option>
        </ion-select>
    </ion-item>

    <button (click)="buscar();" ion-button outline *ngIf="busqueda==1">Buscar</button>

    <ion-item *ngIf="busqueda==2">
        <ion-label>Genero</ion-label>
        <ion-select [(ngModel)]="idGenero">
            <ion-option value='0'>Masculino</ion-option>
            <ion-option value='1'>Femenino</ion-option>
            <ion-option value='2'>Mixto</ion-option>
        </ion-select>
    </ion-item>
    <button (click)="bucagenero();" ion-button outline *ngIf="busqueda==2">Buscar</button>

    <ion-card class="fondo" *ngFor="let sali of salida">

        <ion-item class="tituloEvento">
            <h2> {{sali.nombre}} </h2>
            <div item-end>
                <ion-icon name="calendar"></ion-icon> {{ sali.fecha}}</div>
        </ion-item>

        <ion-card-content class="contenidoEvento">
            <ion-item class="fondoNone">
                <h1> <small>  Deporte : {{sali.deporte}}</small> </h1>
                <hr>
                <h2>
                    <ion-icon name="time"></ion-icon> Hora de encuentro: {{sali.hora}}</h2>

                <h2>
                    <ion-icon name="time"></ion-icon> Hora de finalizacion: {{sali.horaFin}}</h2>
                <br>

                <button ion-button (click)=" ver(sali.idSalidaI);" full round> ver  </button>

            </ion-item>

        </ion-card-content>

    </ion-card>

    <h2 *ngIf="salida==0">
        No existen salidas disponibles
    </h2>
</ion-content>