<ion-header>
    <ion-navbar class="navHome">
        <ion-title> 
            <img src="../../assets/imgs/parchemosSinFondo.png" alt="..." style="width: 60%;"> 
            <span (click)="notificacion()" class="notificacion">
                    <ion-icon class="notificacion-icono" name="notifications-outline"></ion-icon>
            </span>
            <div *ngIf="notificaciones.length!=0" class="badgeNotificacion"> 
                    <ion-badge class="badge" >{{notificaciones.length}}</ion-badge>
                  </div>
        </ion-title>

    </ion-navbar>
    
</ion-header>

<ion-content padding class='homeCol1'>
    <ion-grid>
        <ion-row class="homeRow1">
            <ion-col col-3 >
                <button ion-button clear round (click)="historial();" *ngIf="idRol!=2 && idRol!=4 && idRol!=3">
                <ion-chip #chip2 style="font-size: 15px; background-color: #fffafac9">
                  <ion-icon name="star-half" style="color:white;" color="primary"></ion-icon>
                  <ion-label >Historial</ion-label>
                </ion-chip>
                </button>
            </ion-col>
            <ion-col col-3 offset-4>
                <button ion-button clear round (click)="perfil();">
                    <ion-chip #chip2 style="font-size: 15px; background-color: #fffafac9" >
                      <ion-icon name="person" style="color:white;" ></ion-icon>
                      <ion-label>Perfil</ion-label>
                    </ion-chip>
                    </button>
            </ion-col>
        </ion-row>
        
        <ion-row style="margin-top: 80%;">
            <ion-col>
                <button ion-button clear round (click)="entretenimiento();">
                            <ion-chip #chip2 style="font-size: 15px; background-color: #fffafac9" >
                              <ion-icon name="logo-youtube" style="color:white;" ></ion-icon>
                              <ion-label>Contenido multimedia</ion-label>
                            </ion-chip>
                            </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>