<!--
  Generated template for the EntrenamientoMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Entrenamientos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="card-background-page" padding>
    <ion-card class="opcion" (click)='buscarEntrenamiento()' >
        <img src="assets/imgs/buscar.jpg" />
        <div class="card-title">Buscar Entrenamiento</div>
    </ion-card>

    <ion-card class="opcion" (click)='inscritos()'>
        <img src="assets/imgs/inscritos.jpg"  />
        <div class="card-title">Entramientos a Jugar</div>
    </ion-card>

    <ion-card class="opcion" (click)='crearEntrenamiento()' *ngIf="idRol==5">
        <img src="assets/imgs/crear.jpg"  />
        <div class="card-title">Crear Entrenamiento</div>
    </ion-card>

    <ion-card class="opcion"  (click)='misEntrenamiento()' *ngIf="idRol==5">
        <img src="assets/imgs/crear.jpg" />
        <div class="card-title">Mis Entrenamientos</div>
    </ion-card>

</ion-content>