<ion-header>

  <ion-navbar>
    <ion-title>Torneos</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="card-background-page" padding>

  <ion-card class="opcion" (click)='getBuscarTorneo()' *ngIf="idRol ==1 || idRol==4 || idRol==5">
    <img src="assets/imgs/buscar.jpg"/>
    <div class="card-title">Buscar Torneo</div>
  </ion-card>

  <ion-card class="opcion" (click)='getTorneosInscritos()' *ngIf="idRol==1 || idRol==5">
    <img src="assets/imgs/inscritos.jpg"/>
    <div class="card-title">Torneos a jugar</div>
  </ion-card>

  <ion-card class="opcion" (click)='getCrearTorneo()' *ngIf="idRol == 2">
    <img src="assets/imgs/crear.jpg"/>
    <div class="card-title">Crear Torneo</div>
  </ion-card>

  <ion-card class="opcion" (click)='getMisTorneos()' *ngIf="idRol == 2">
    <img src="assets/imgs/crear.jpg"/>
    <div class="card-title">Mis Torneos</div>
  </ion-card>

  <ion-card class="opcion" (click)='getTorneosArbitrar()' *ngIf="idRol == 3">
    <img src="assets/imgs/crear.jpg"/>
    <div class="card-title">Torneos a arbitrar</div>
  </ion-card>

  <ion-card class="opcion" (click)='getTorneosPatrocinar()' *ngIf="idRol == 4">
    <img src="assets/imgs/crear.jpg"/>
    <div class="card-title">Torneos a patrocinar</div>
  </ion-card>

</ion-content>