.ancho1 {
    width: 70px;
}

.badgeSolicitud {
    margin-left: 93%;
    margin-top: -12%;
}

.badgeNotificacion {
    position: fixed;
    margin-left: 88%;
    margin-top: -25%;
}
.borrarNot {
    position: fixed;
    margin-left: 65%;
    margin-top: -7%;
}

.borrarNotSeis {
    position: fixed;
    margin-left: 7%;
}

.rechazarSeis {
    position: fixed;
    margin-top: -19%;
    margin-left: 60%;
}

.navHome{
    position: fixed !important;
}

.homeRow1{
    position: relative;
    margin-top: 35%;
}

.descripcion{
    white-space: normal !important;
}
.gente{
    position: relative;
    margin-top: -3%;
    margin-left: 7%;
}

.badge {
    font-size: 1rem !important;
    border-radius: 10px !important;
}

/* .item-md .input-wrapper{
    border-width: 0px 0px 1px 0px !important;
    border-style: groove !important;
    border-color: rgb(197, 201, 207)
} */

.homeCol1{
    text-align: center;
    position: relative; 
    background-image:url('../../assets/imgs/circularconfondo.png');
    background-size: cover;
    background-position: center;
}

.notificacion{
    position: fixed;
    margin-top: 12% !important;
    margin-left: 10%;
}

.notificacion-icono{
    font-size: 30px !important;

}

.fondo {
    //background-image: url('/assets/imgs/fondo1.jpg');
    border-radius: 10px 10px 10px 10px;
}

.item1{
  color: #9c9999;
}

.centrado{
  text-align: center;
}

.fondoNone {
    background: none;
}

.left2 {
    margin-left: 2px;
}

.left10 {
    margin-left: 8px;
}

.right2 {
    margin-right: 10px;
    margin-left: -10px;
}

.tituloEvento {
    color: #ffffff;
    background: linear-gradient(to right, #C4A100, #C4A100);
    border-radius: 10px 10px 10px 10px;
}

.margenSup {
    padding-top: 5px;
}

.contenidoEvento {
    margin-top: 2px;
    background: linear-gradient(to right, #E9E9E9, #ffffff);
    border-radius: 10px 10px 10px 10px;
}

ion-title {
    text-align: center;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
        border-radius: 10px;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}

.toolbar-background {
    /* background-color: #4587D8; */
    background: linear-gradient(left, #4587D8, #63A5f6);
}

.title {
    color: #FFD200;
}

.alert-md .alert-wrapper {
    border-radius: 10px;
    background: linear-gradient(to left, rgb(197, 196, 196), #ffffff);
}

.messages-u {
    margin-top: 15px;
    margin-right: 5px;
    float: right;
    color: #000;
    text-align: right;
    background: #DDE4E8;
    width: 60%;
    border-radius: 10px 10px 0 10px;
}

.messages-c {
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    color: #000;
    text-align: left;
    background: #DDE4E8;
    width: 60%;
    border-radius: 10px 10px 10px 0px;
}

.tituloMensaje {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 11px;
    color: rgb(17, 53, 97);
}

.label-md {
    margin-top: 5px
}

.hr1 {
    margin-top: 0px;
    background-color: rgb(173, 168, 168) !important;
}

.confEquipo {
    /* padding-left: 40%; */
}

.opcion {
    height: 120px;
}

.toolbar-title-md {
    color: white !important;
}

.nombreEquipo {
    padding-right: 50%;
    text-decoration: none;
    color: white;
}