

.ancho1 {
    width: 70px;
}

.fondo{
  //background-image: url('/assets/imgs/fondo1.jpg');
  border-radius: 10px 10px 10px 10px;
}

.fondoNone{
  background: none;
}

.tituloEvento{
  color: #ffffff;
  font-family: cursive;
  font-weight: bold;
  background: linear-gradient(right, #C4A100, #FFD200);
  border-radius: 10px 10px 10px 10px;
}

.margenSup{
  padding-top:5px;
}

.contenidoEvento{
  margin-top: 2px;
  background: linear-gradient(right, #E9E9E9, #ffffff);
  border-radius: 10px 10px 10px 10px;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }


  .toolbar-background{
    /* background-color: #4587D8; */
    background: linear-gradient(left, #4587D8, #63A5f6);
  }

  .title{
      color: #FFD200;
  }

  .alert-md .alert-wrapper {
    border-radius: 10px;
    background: linear-gradient(right, rgb(197, 196, 196), #ffffff);
  }