<!--
  Generated template for the AgregarIntegrantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Solicitudes</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="solicitudes.length!=0">
        <ion-card *ngFor="let sol of solicitudes; index as i">
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="http://10.8.80.47:3002/profile/{{sol.imagen}}.png">
                        </ion-avatar>
                        <h2>
                            <b>{{sol.nombre}}</b>
                        </h2>
                        <p class="descripcion">
                            Descripcion: 
                            {{sol.descripcion}}
                        </p>
                        <button (click)='verUsuario(sol.idUsuario)' ion-button>ver</button>
                    </ion-item>
                    <ion-item>

                        <button ion-button color="primary" outline small (click)="aceptar(sol,i)">Aceptar</button>
                        <button ion-button color="danger" small (click)="rechazar(sol,i)">Rechazar</button>

                    </ion-item>
                </ion-list>

            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="solicitudes.length==0">
        <h2 class="centrado">No tienes solicitudes</h2>
    </div>
</ion-content>