<ion-header>

  <ion-navbar>
    <ion-title>Equipo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="tiene=='null'">

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-card class="fondo" *ngFor="let equipo of equipos; index as i">

      <ion-item class="tituloEvento">
        <h2><i class="fas fa-star-half-alt margenSup"></i> {{ equipo.nombre | uppercase}}</h2>
        <div item-end>
          <b> <i class="fas fa-users"></i>
            {{equipo.nroInt}}
          </b>
          / {{equipo.nroIntegrantes}}
        </div>
      </ion-item>

      <ion-card-content class="">

        <ion-item class="fondoNone">
          <h2><i class="fas fa-align-justify margenSup"></i> {{equipo.descripcion}}</h2>
        </ion-item>
      </ion-card-content>

      <ion-row>
        <ion-col *ngIf="equipo.estado !=2">
          <button (click)="showPrompt(equipo.idEquipo)" ion-button icon-start clear small>
            <ion-icon name="person-add"></ion-icon>
            <div>Enviar Solicitud</div>
          </button>
        </ion-col>

        <ion-col *ngIf="equipo.estado ==2">
          <button color="danger" ion-button icon-start clear small>
            <ion-icon name="md-hand"></ion-icon>
            <div>Solicitud Enviada</div>
          </button>
        </ion-col>

      </ion-row>

    </ion-card>

  </div>


  <div *ngIf="tiene!='null'">

      <ion-card>
          <ion-card-header>
            <a class='nombreEquipo' (click)='descripcion()'>{{infoEquipo.nombre | uppercase}}</a>
            <i
              *ngIf="capitan==1" 
              class="fas fa-sliders-h confEquipo right2"
              (click)='editarEquipo()'></i>
              
              <i class="fas fa-user-plus left5"
              (click)='agregarIntegrante()'></i>
              <div *ngIf="solicitudesEquipo.length!=0" class="badgeSolicitud"> <ion-badge class="badge" >{{solicitudesEquipo.length}}</ion-badge></div>
             
              <i
                *ngIf="capitan==0" 
                class="fas fa-sign-out-alt confEquipo"
                (click)='salirDelEquipo()'></i> 
              
          </ion-card-header>
        </ion-card>

    <ion-list>
      <ion-item 
      *ngFor="let m of mensajes"
      [ngClass]="{
        'messages-u': m.idUsuario == idUsuario,
        'messages-c': m.idUsuario != idUsuario
      }" >
        <div class="tituloMensaje">
          {{m.remitente}}
        </div>
        <hr class="hr1"/>
        {{m.frase}}
      </ion-item>

    </ion-list>

  </div>

  <ion-fab *ngIf="tiene == 'null'" bottom right (click)='addEquipo()'>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
    <ion-item *ngIf="tiene!='null'">  
      <ion-input [(ngModel)]="enviarInput" type="text" placeholder="Escriba un mensaje"></ion-input>
      <button (click)='enviar()' item-end >
        
        <ion-icon style="color:black;" name="send"></ion-icon>
      </button>    
    </ion-item>
    
  </ion-footer>
  