<ion-header>

  <ion-navbar>
    <ion-title>Equipo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="tiene==0">

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-card class="fondo" *ngFor="let equipo of equipos; index as i">

      <ion-item class="tituloEvento">
        <h2><i class="fas fa-star-half-alt margenSup"></i> {{ equipo.nombre | uppercase}}</h2>
        <div item-end> 
            <b> <i class="fas fa-users"></i>
                {{equipo.nroInt}}
              </b>
              / {{equipo.nroIntegrantes}}
        </div>
      </ion-item>

      <ion-card-content class="">

        <ion-item class="fondoNone">
          <h2><i class="fas fa-align-justify margenSup"></i> {{equipo.descripcion}}</h2>
        </ion-item>
      </ion-card-content>

      <ion-row>
          <ion-col *ngIf="equipo.estado !=2">
            <button (click)="showPrompt(equipo.idEquipo)" ion-button icon-start clear small>
              <ion-icon name="person-add"></ion-icon>
              <div>Enviar Solicitud</div>
            </button>
          </ion-col>

          <ion-col *ngIf="equipo.estado ==2">
              <button color="danger" ion-button icon-start clear small>
                <ion-icon name="md-hand"></ion-icon>
                <div>Solicitud Enviada</div>
              </button>
            </ion-col>

        </ion-row>

    </ion-card>

  </div>


  <div *ngIf="tiene!=0">



  </div>

</ion-content>