<!--
  Generated template for the MisSalidasIPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Mis Salidas Individuales</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>Deporte</ion-label>
        <ion-select [(ngModel)]="idDeporte">
            <ion-option value='0'>Todos</ion-option>
            <ion-option *ngFor="let deporte of deportes" value='{{deporte.idDeporte}}'>{{deporte.nombre}}</ion-option>
        </ion-select>
    </ion-item>

    <button (click)="buscar();" ion-button outline>Buscar</button>
    <ion-card class="fondo" *ngFor="let sali of salida; index as i">

        <ion-item class="tituloEvento">
            <h2><i class="fas fa-cube margenSup"></i> {{sali.nombre}} </h2>
            <div item-end>
                <ion-icon name="calendar"></ion-icon> {{sali.fecha  |date}}</div>
        </ion-item>

        <ion-card-content class="contenidoEvento">
            <ion-item class="fondoNone">
                <br>
                <h2> Deporte : {{sali.deporte}} </h2>
                <h2>
                    {{sali.descripcion}}</h2>
                <hr>
                <h3>
                    <ion-icon name="time"></ion-icon> Hora de encuentro: {{sali.hora}}</h3>

                <h3>
                    <ion-icon name="time"></ion-icon> Hora de finalizacion: {{sali.horaFin}}</h3>
                <hr>
                <h3 style="color: red;" *ngIf="sali.finalizado==1">
                    Finalizado
                </h3>
                <h3 style="color: blue;" *ngIf="sali.finalizado==0">
                    En curso
                </h3>
                <br>
                <button ion-button *ngIf="sali.finalizado==0" (click)=" editar(sali.idSalidaI, sali.entrenamiento, sali.deporte);">Editar</button>
                <button ion-button color="danger" *ngIf="sali.finalizado==0" (click)="showAlert(sali.idSalidaI,i);">Eliminar</button>




            </ion-item>

        </ion-card-content>

    </ion-card>
    <h2 *ngIf="salida==0">
        No existen salidas de este deporte disponibles
    </h2>
</ion-content>